*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#0f0f0f;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:20px;
}

.container{
  width:100%;
  max-width:600px;
  background:#1a1a1a;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}

h1{
  text-align:center;
  margin-bottom:15px;
}

p{
  text-align:center;
  color:#aaa;
  margin-bottom:25px;
}

label{
  display:block;
  margin-bottom:10px;
  font-weight:bold;
}

input[type="number"],
input[type="range"]{
  width:100%;
  margin-bottom:20px;
}

input[type="file"]{
  width:100%;
  margin-bottom:20px;
  background:#222;
  color:white;
  padding:10px;
  border-radius:10px;
}

button{
  width:100%;
  padding:14px;
  background:#00c853;
  border:none;
  color:white;
  font-size:18px;
  border-radius:12px;
  cursor:pointer;
}

button:hover{
  background:#00a844;
}

img{
  width:100%;
  margin-top:25px;
  border-radius:15px;
  display:none;
}

.download-btn{
  display:none;
  text-align:center;
  margin-top:20px;
  background:#2962ff;
  padding:14px;
  border-radius:12px;
  text-decoration:none;
  color:white;
  font-weight:bold;
}

.size-info{
  margin-top:15px;
  text-align:center;
  color:#00e676;
}

.progress-box{
  margin-top:20px;
}

.progress-bar{
  width:100%;
  height:20px;
  background:#333;
  border-radius:20px;
  overflow:hidden;
  margin-top:8px;
}

#uploadBar,
#downloadBar{
  width:0%;
  height:100%;
  background:#00e676;
  transition:0.2s;
}